@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(72, 71, 71, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 8px rgb(180, 180, 180);
  z-index: 100;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  background-color: white;
}

.main-header__brand:hover {
  border: 3px solid rgb(145, 145, 145);
  border-radius: 50%;
}

.toggle-button {
  height: 100%;
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: rgb(203, 203, 203);
}

.toggle-button__bar {
  display: block;
  border-radius: 50px;
  background-color: black;
  width: 1rem;
  height: 0.15rem;
  margin: 0.15rem auto;
}

.mobile-nav {
  display: none;
  position: inherit;
  top: 0;
  left: 0;
  background-color: rgb(10, 10, 10);
  height: 100%;
  width: auto;
}

.mobile-nav__items {
  padding: 0;
  list-style: none;
}

.mobile-nav__item {
  padding: 1rem;
  padding-right: 5rem;
}

.mobile-nav__item a {
  text-decoration: none;
  color: white;
  padding: 2rem 1rem;
}

.mobile-nav__item:hover {
  background-color: rgb(255, 245, 229);
}

.mobile-nav__item a:hover {
  color: rgb(0, 0, 0);
}

.main-nav {
  display: none;
}


/* ?Main section */
.main-section {
  background: url('./images/mac.jpg');
  height: 91vh;
  background-position: 40%;
  margin-top: 9vh;
  /* display: none; */
  /*! remove this */
}

.main-section__start {
  position: absolute;
  margin: 12rem 2.5rem;
  color: white;
}

.main-heading {
  font-weight: 300;
  font-size: 2.5rem;
  margin-block: 0;
}

.main-heading+p {
  font-weight: 300;
  font-size: 1.1rem;
}

.button-to-start {
  color: rgb(65, 65, 65);
  background-color: rgb(207, 207, 207);
  font-weight: 300;
  font-size: 1.2rem;
  padding-inline: 1.2rem;
  height: 3.5rem;
  margin-block: 1.5rem;
  border: none;
}

.button-to-start:hover {
  background-color: rgb(240, 240, 240);
  color: black;
}

.social-media__icons {
  position: inherit;
  bottom: -5rem;
  color: rgb(255, 255, 255);
}


/* ?Padding for all sections */
.about-section,
.team-section,
.design-section,
.pricing-section,
.our-work-section,
.contact-section
{
  text-align: center;
  padding: 6rem 2rem;
  /* display: none; */
  /*! remove this */
}


/* ?Main heading for all */
.about-section__main-heading,
.design-section__main-heading,
.our-work-section__main-heading,
.skills-section__main-heading,
.pricing-section__main-heading,
.team-section__main-heading,
.contact-section__main-heading
{
  font-weight: 400;
  font-size: 1.5rem;
}


/* ?Sub heading for all */
.about-section__sub-heading,
.team-section__sub-heading,
.our-work-section__sub-heading,
.pricing-section__sub-heading,
.contact-section__sub-heading
{
  font-weight: 300;
  font-size: 1.2rem;
}


/* ?About section */
.about-section__articles {
  display: flex;
  flex-direction: column;
}

.about-section__article-icon {
  margin-top: 3rem;
  font-size: 5rem;
}

.about-section__article-heading {
  padding-block: 1rem;
  font-size: 1.2rem;
}

.about-section__article-description {
  padding-inline: 1rem;
  font-weight: 300;
}


/* ?Design section */
.design-section {
  background-color: #f1f1f1;
}

.design-section__description {
  font-weight: 300;
}

.design-section__work-viewer {
  padding: 0.9rem 1rem;
  font-size: 0.9rem;
  background-color: rgb(9, 9, 9);
  color: white;
  border: none;
}

.design-section__work-viewer:hover {
  background-color: rgb(188, 188, 188);
  color: rgb(9, 9, 9);
}

.design-section__visit-works {
  width: 100%;
  padding-block: 1rem;
}


/* ?team section */
.team-section__teams {
  padding-block: 2rem 6rem;
  display: flex;
  flex-direction: column;
}

.team-section__team {
  box-shadow: 0px 0px 10px #929292;
  text-align: left;
  margin: 1rem;
}

.team-section__member-image {
  width: 100%;
}

.team-section__member-name,
.team-section__member-position,
.team-section__member-description,
.contact-member {
  margin: 1rem;
}

.team-section__member-description {
  font-weight: 300;
}

.team-section__member-name {
  font-weight: 400;
  font-size: 1.5rem;
}

.team-section__member-position {
  font-size: 1rem;
  color: #707070;
}

.contact-member {
  width: calc(100% - 2rem);
  height: 2.5rem;
  font-size: 1rem;
  border: none;
}

.contact-member:hover {
  background-color: #d0d0d0;
}


/* ?General figures section */
.general-figures {
  padding-block: 7rem;
  background-color: #707070;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.general-figure__counts {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.general-figure__description {
  margin-block: 0.5rem 2rem;
  font-weight: 300;
}


/* ?Our works section */
.our-work-section__works {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
}

.our-work-section__works-image {
  padding-inline: 0.5rem;
}

.our-work-section__works-image:hover {
  filter: contrast(0.5);
}


/* ?Skills section */
.skills-section {
  background-color: rgb(255, 245, 229);
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
}

.skills-section__description,
.skills-section__skill {
  font-weight: 300;
}

.skills-section__skill {
  letter-spacing: 3px;
}

.skills-section__skill i {
  padding-right: 1rem;
}

.skills-section__skill-bar {
  height: 1.5rem;
  width: 100%;
  background-color: #adadad;
  color: #f1f1f1;
  font-size: 0.95rem;
  text-align: center;
}

.bar {
  height: 100%;
  background-color: #707070;
}

.bar1 {
  width: 90%;
}

.bar2 {
  width: 85%;
}

.bar3 {
  width: 75%;
}


/* ?pricing section */
.pricing-section {
  background-color: #707070;
}

.pricing-section__main-heading {
  color: white;
}

.pricing-section__sub-heading {
  color: white;
}

.pricing-section__plans {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
}

.pricing-section__plan {
  background-color: rgb(255, 255, 255);
  margin-block: 0.5rem;
  box-shadow: 0px 0px 10px rgb(156, 156, 156);
}

.pricing-section__plan-heading {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}

.badge-normal {
  background-color: black;
  margin: 0;
  padding: 2rem;
}

.badge-recommended {
  background-color: rgb(255, 77, 22);
  margin: 0;
  padding: 3rem;
}

.pricing-section__plan-feature,
.pricing-section__plan-feature--pricing span {
  padding-block: 1.2rem;
  border-bottom: 1px solid rgb(198, 198, 198);
  font-weight: 300;
  font-size: 0.9rem;
}

.pricing-section__plan-feature--pricing p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.pricing-section__plan-feature--pricing span {
  color: #515151;
  border-bottom: none;
}

.pricing-section__plan-feature--pricing {
  border-bottom: 1px solid rgb(198, 198, 198);
  padding-bottom: 1rem;
}

.pricing-section__plan-feature--signup {
  padding-block: 1.5rem;
  background-color: rgb(235, 235, 235);
}

.plan-feature--signup-button {
  color: white;
  background-color: black;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 300;
  border: none;
}

.plan-feature--signup-button:hover {
  color: black;
  background-color: rgb(167, 167, 167);
}



/* ?contact section */
.contact-section {
  background-color: rgb(255, 223, 214);
}

.contact-section__details {
  margin-block: 4rem;
}

.contact-section__form-input input {
  width: 100%;
  margin-block: 0.5rem;
  height: 2.5rem;
  padding-inline: 1rem;
  border: none;
  letter-spacing: 1px;
  font-size: 1rem;
  border-radius: 20px;
}

.contact-section__form-input input:focus {
  outline: none;
  border: 1px solid orangered;
}

.submit-form {
  color: white;
  background-color: black;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  margin-block: 1rem 5rem;
}

.submit-form:hover {
  color: black;
  background-color: rgb(174, 174, 174);
}

.contact-section__map {
  width: 100%;
}


/* ?Footer section */
footer {
  background-color: black;
  padding-block: 2rem;
  text-align: center;
  color: white;
}

.go-to-top {
  padding: 0.6rem 2rem;
  border: none;
  cursor: pointer;
}

.go-to-top:hover {
  background-color: rgb(185, 185, 185);
}

.footer__icons {
  margin: 1rem;
  letter-spacing: 2px;
}

.copyright {
  margin: 0;
}


/* ? Desktop Code */
@media (min-width:38rem) {
  .toggle-button {
    display: none;
  }

  .main-nav {
    display: block;
  }

  .main-nav__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
  }

  .main-nav__item {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .main-nav__item a {
    text-decoration: none;
    color: black;
    padding: 0 1rem;
  }

  .main-nav__item:hover {
    background-color: rgb(189, 189, 189);
  }

  .main-section__start {
    margin: 8rem 2.5rem;
  }

  .social-media__icons {
    bottom: -12rem;
  }

  .about-section__articles {
    flex-direction: row;
  }

  .design-section {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .design-section__image {
    height: 100%;
  }

  .team-section__teams {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .team-section__team {
    width: calc(50% - 2rem);
  }

  .general-figures {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .our-work-section__works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .our-work-section__works-image {
    width: 50%;
  }

  .skills-section {
    flex-direction: row;
  }

  .skills-section__skills-text {
    width: 50%;
    padding-right: 2rem;
  }

  .skills-section__skills-visuals {
    width: 50%;
  }

  .pricing-section__plans {
    flex-direction: row;
    align-items: center;
  }

  .pricing-section__plan {
    width: 100%;
    margin-inline: 0.5rem;
  }

  .contact-section__map {
    width: 75%;
  }
}